﻿<%@ Page Title="Healers Pharmacy Online Store" Language="C#" MasterPageFile="~/Pages/Shared/CustomerMaster.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="ECOMWebApp.Pages.Customer.Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphHead" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="cphForm" runat="server">

    <div class="ps-home ps-home--1">
    </div>

</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="cphScripts" runat="server">
</asp:Content>
